.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-people-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box-people img {
  width: 100px;
  height: auto;
}

.wrap {
  position: relative;
}

.slider-btn {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  text-align: center;
}

.slider {
  margin: 0 auto;
  width: 800px;
}

.activeSlider {
  transform: translateX(0);
  color: aqua;
}

.slider {
  /* margin: 4rem auto 0;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden; */
  display: flex;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  transition: all 0.3s linear;
}

article.activeSlider {
  transform: translateX(0);
}

article.nextSlider {
  transform: translateX(100%);
}

article.lastSlider {
  transform: translateX(-100%);
}
